<style type='text/css'>
  @media only screen and (max-width:350px) { p { font-size: 20px; } } button { width: 100px; text-align: center; height:
  32px; line-height: 32px; border-radius: 4px; border: none; outline: none; background-color: #13c2c2; color: #fff;
  cursor: pointer; }
</style>
<img src='https://cdn.hyyar.com/qiumingshan-logo.png' width='30px' height='30px' />
<h3>准备就绪，@{{username}}</h3>
<p>为了完成您的秋名山账号注册，我们只需要验证您的电子邮件地址 {{email}}</p>
<p><button><a href='{{verifyUrl}}'>验证邮箱</a></button></p>
<p>邮箱验证后，即可展开所有功能。</p>
<br />
<p>按钮点击没反应？粘贴下面链接到浏览器中</p>
<p><a href='{{verifyUrl}}'>{{verifyUrl}}</a></p>